[include]
  path = ~/.git-personal.conf
[includeIf "gitdir:~/work/"]
  path = ~/.git-mar.conf
[includeIf "gitdir:~/tmp/"]
  path = ~/.git-mar.conf
[includeIf "gitdir:~/private/"]
  path = ~/.git-personal.conf
[includeIf "gitdir:~/projects/"]
  path = ~/.git-personal.conf

[init]
	defaultBranch = main
; [core]
;   editor = code --wait
; [diff]
;   tool = vscode
; [difftool "vscode"]
;   cmd = code --wait --diff $LOCAL $REMOTE
; [merge]
;   tool = vscode
; [mergetool "vscode"]
;   cmd = code --wait $MERGED

[core]
  editor = nvim
	pager = "nvim -c 'lua local baleia = require(\"baleia\").setup({}); baleia.once(0);'"
	fsmonitor = true
	untrackedcache = true
  attributesfile = ~/.config/git/.gitattributes
  ; pager = delta
; [interactive]
;   diffFilter = delta --color-only
; [delta]
;   navigate = true
;   dark = true

[difftool]
  prompt = true
; [diff]
;   tool = nvimdiff
;   colorMoved = default
; [difftool "nvimdiff"]
;   cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
; [merge]
;   tool = vimdiff
;   conflictstyle = diff3
; [mergetool "vimdiff"]
;   path = nvim

; [delta "colorscheme"]
;   commit-style                  = raw
;   commit-decorations-style      = blue ol
;   file-style                    = omit
;   hunk-header-style             = file line-number
;   hunk-header-decoration-style  = blue box
;   hunk-header-file-style        = red
;   hunk-header-line-number-style = red
;   minus-style                   = bold red
;   minus-non-emph-style          = red
;   minus-emph-style              = bold black red
;   minus-empty-line-marker-style = normal red
;   zero-style                    = normal
;   plus-style                    = bold green
;   plus-non-emph-style           = green
;   plus-emph-style               = bold black green
;   plus-empty-line-marker-style  = normal green
;   whitespace-error-style        = reverse purple
;   true-color                    = always
;   line-numbers-zero-style       = dim normal
;   line-numbers-minus-style      = red
;   line-numbers-plus-style       = green
;   line-numbers-left-style       = blue
;   line-numbers-right-style      = blue
[delta "interactive"]
  features = colorscheme
  keep-plus-minus-markers = false
[delta]
  features = colorscheme
  navigate = true
  side-by-side = false
	theme = ansi

; [delta]
;   navigate = true
;   ; side-by-side = true
;   light = false
;   line-numbers = false

[diff]
  algorithm = patience
  compactionHeuristic = true
  tool = nvimdiff
  colorMoved = default

[difftool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd L\"

[merge]
  tool = nvimdiff4

[mergetool "nvimdiff4"]
  cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[diff "lockb"]
	binary = true
	textconv = bun
[color]
	pager = yes


; [credential "https://github.com"]
; 	helper = 
; 	helper = !/opt/homebrew/bin/gh auth git-credential
; [credential "https://github.com"]
; 	helper = 
; 	helper = !/opt/homebrew/bin/gh auth git-credential
; [credential "https://gist.github.com"]
; 	helper = 
; 	helper = !/opt/homebrew/bin/gh auth git-credential
[pull]
	rebase = true
